@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    a.navbar-brand {
        margin-top: 15px;

    }
    
    body a img {
        margin-right: 0px;
    }

    html, body {
        padding-top: 30px;
    }

    a.navbar-brand img {
            height: 68px;
            width: 68px;        
    }

    #navbar {
        padding-top: 10px;
    }

    header.fill, header.item {
        height: 100px; 
    }

    .row-mob {
        margin-top: 100px
    }
}

html, body {
    height: 130%;
    margin-top: -80px;
}

body {
    padding-top: ;
    margin-top: 0; 
    background: #DEEAF6;
}

.map {
    margin-top: -9%;
    background: #023D67;
    font-size: 20px;
    font-family: 'Lucida Sans';
    padding: 15px;
    color: white;
}

.map td {
    padding-left: 10px;
}

.tc {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 17px;
}

.tc a {

    text-decoration: none;
    color: #DEEAF6;
    font-size: 13px;
    border-left: 2px solid black;
    padding-left: 10px;
}

.tc a:hover {
    color: white; 
}

#page-desc {
    font-family: 'Lucida Sans';
    font-size: 2%;
    text-align: center;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

#navbar-brand {
    font-size: 12px;
    font-family: 'Lucida Sans'
    color: #DEEAF6;
}

#navbar, #navbar-inverse, #navbar-fixed-top{
    background: : #DEEAF6
}

#collapse #navbar-collapse {
    background: #DEEAF6
}

header.carousel {
    height: 45%;
    background: : #DEEAF6
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* Icons and numbers */
.icon-aside {
    text-align: center;
}
.icon-aside .stat-icons {
    list-style: none;
    margin: 0 0 18px;
    padding-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.1px;
}
.clearfix, .cf {
    zoom: 1;
}
@media only screen and (min-width: 768px){
.icon-aside .stat-icons .stat-icon {
    margin-top: 62px;
    padding: 66px 16px 16px;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}
}
.icon-aside .stat-icons .stat-icon {
    position: relative;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
    padding: 66px 16px 16px;
    background: #d1d0c1;
}
@media only screen and (min-width: 768px){
.icon-aside .t-1of3 {
    width: 32%;
    margin-right: 2%;
}
}
@media only screen and (max-width: 768px){
    .icon-aside .stat-icons .stat-icon {
        width: 90%;
    }
}
@media only screen and (min-width: 1030px){
.icon-aside .stat-icons .stat-icon h2 {
    font-size: 14px;
}}
@media only screen and (min-width: 768px){
.icon-aside .stat-icons .stat-icon h2 {
    font-size: 13px;
}}
.icon-aside h2, .icon-aside .h2 {
    text-transform: uppercase;
    color: #372a0d;
    font-family: 'Montserrat',arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border-bottom: 0;
}
.icon-aside .stat-icons .stat-icon span.stat-num {
    font-size: 60px;
    line-height: 60px;
    color: #372a0d;
    display: block;
    font-family: 'lobster_14regular',arial,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.icon-aside .stat-icons .stat-icon img {
    position: absolute;
    top: -3.5em;
    left: 0;
    right: 0;
    margin: auto;
}
.icon-aside .stat-icons {
    list-style: none;
    margin: 0 0 18px;
    padding-bottom: 25px;
    text-align: center;
}
@media (min-width: 1030px){
.d-1of3 {
    float: left;
    padding-right: .75em;
    width: 33.33%;
}
}
.join-hover a {
    color: white;
}

.join-hover a:hover {
    background-color: white;
    color: black;
    transition: ease-out 0.7s;
}

.error-404 {
    font-size: 100px;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

#join {
	background-image: url('../images/IMG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;
}

#join1 {
    background-image: url('../images/bound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

#join2 {
    background-image: url('../images/Melayu-Fungsi_Utama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

#join3 {
    background-image: url('../images/banner-ourteam.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

#join4 {
    background-image: url('../images/our-projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

#join5 {
    background-image: url('../images/Contact-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

#join6 {
    background-image: url('../images/JoinUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    width: 100%;
    padding: 12em 0;   
    margin-top: -20px 
}

footer {
    margin: 50px 0;
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    #join{
    	padding: 3em 0;
    }
}

